/**
 * This scope covers all generic WYSIWYG content
 */
.s-editorial {
    /**
     * 1. Override any colors used
     */
    * {
        color: $color-black !important; /* [1] */
    }


    /**
     * 1. Add consisten bottom margins for all headings
     */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: $global-spacing; /* [1] */
    }

    h1 {
        margin-top: $global-spacing-large;
    }



    /**
     * Drop caps on the first sentence
     */
    > p:first-of-type:first-letter {
        @include inuit-font-size(54px, false);
        float: left;
        font-family: $global-font-family-headings;
        line-height: 1;
        margin-right: $global-spacing;
        margin-top: -1px;
    }


    /**
     * 1. Increase the font size
     * 2. Adjsut the line height 
     * 3. Add good amount of spacing between this and top/bottom elements
     * 4. Pull out of the container
     * 5. Pull out even more when there is more space available
     */
    blockquote {
        @include inuit-font-size($inuit-font-size-h4, false); /* [1] */
        @include rem(margin-bottom, $global-spacing-large); /* [3] */
        @include rem(margin-top, $global-spacing-large); /* [3] */
        line-height: 1.4; /* [2] */
        
        @include mq ($from: ($global-editorial-wrapper-max-width + $global-spacing-large)) {
            @include rem(margin-bottom, $global-spacing-huge);
            @include rem(margin-top, $global-spacing-huge);
            margin-left: ($global-spacing-large * -1); /* [4] */
            width: calc(100% + #{($global-spacing-large * 2)}); /* [4] */
        }

        @include mq ($from: desktop) {
            margin-left: ($global-spacing-huge * -1); /* [5] */
            width: calc(100% + #{($global-spacing-huge * 2)}); /* [5] */
        }
    }


    /**
     * 1. Pull out of the container
     * 2. Adjust the responsive video's height to match the new width
     * 3. Pull out even more when there is more space available
     */
    .c-responsive-video {
        @include mq ($from: mobile) {
            margin-left: ($global-spacing-large * -1); /* [1] */
            padding-bottom: calc(56.25% + #{($global-spacing-large * 2)}); /* [2] */
            width: calc(100% + #{($global-spacing-large * 2)}); /* [1] */
        }

        @include mq ($from: desktop) {
            margin-left: (($global-spacing * 5) * -1); /* [1] */
            padding-bottom: calc(56.25% + #{(($global-spacing * 5) * 2)}); /* [2] */
            width: calc(100% + #{(($global-spacing * 5) * 2)}); /* [1] */
        }
    }

    /**
     * 1. Add good amount of spacing between this and top/bottom elements
     * 2. Add more space when it's available
     */
    img,
    .c-responsive-video {
        @include rem(margin-bottom, $global-spacing); /* [1] */
        @include rem(margin-top, $global-spacing); /* [1] */
        
        @include mq ($from: mobile) {
            @include rem(margin-bottom, $global-spacing-large); /* [2] */
            @include rem(margin-top, $global-spacing-large); /* [2] */
        }
    }

    
    /**
     * 1. Add good amount of spacing between this and top/bottom elements
     * 2. Position all elements inside the left side column
     */
    ul,
    ol {
        @include rem(margin-bottom, $global-spacing); /* [1] */
        @include rem(margin-top, $global-spacing); /* [1] */
        list-style-position: inside; /* [2] */
    }
}
