/**
 * Fill the space of a parent element
 */
.u-fill {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}


.u-relative {
    position: relative;
}


.u-square {
    height: 0;
    padding-bottom: 100%;
    width: 100%;
}
.u-square--150 {
    height: 150px;
    padding-bottom: 0;
    width: 150px;
}
.u-square--44 {
    height: 44px;
    padding-bottom: 0;
    width: 44px;
}

.u-circle {
    border-radius: 100%;
}

.u-parallax {
    // min-height: 100%;
}

.u-mh-100 {
    max-height: 100px;
}

.u-mh-230 {
    min-height: 230px;
}

@include mq ($from: mobile) {
    .u-mh-500\@mobile {
        min-height: 500px;
    }
}


.u-mw-250 {
    min-width: 250px;
}

.u-mw-50 {
    min-width: 50px;
}

.u-mw-100 {
    min-width: 100px;
}

.u-mw-450 {
    max-width: 450px;
}

.u-no-mw {
    max-width: none;
}

.u-block {
    display: block;
}

.u-inline-block {
    display: inline-block;
}


.u-float-right {
    float: right;
}

@include mq ($from: mobile) {
    .u-float-right\@mobile {
        float: right;
    }
}


.u-w-80 {
    width: 80px;
}

.u-h-auto {
    height: auto;
}


.u-m-auto {
    margin-left: auto;
    margin-right: auto;
}

@include mq ($from: mobile) {
    .u-m-auto\@mobile {
        margin-left: auto;
        margin-right: auto;
    }
}


.u-spacer {
    height: 6vmax;
}


@include mq ($from: mobile) {
    .u-spacing-top-4 {
        margin-bottom: 4vmax;
        transform: translateY(4vmax);
    }

    .u-spacing-top-8 {
        margin-bottom: 8vmax;
        transform: translateY(8vmax);
    }

    .u--spacing-top-6 {
        margin-bottom: -6vmax;
        transform: translateY(-6vmax);
    }
}


.u-min-100h {
    min-height: 100vh;
}


.u-overflow-hidden {
    overflow: hidden;
}


@include mq ($until: mobile) {
    .u-no-scroll {
        max-height: 100%;
        overflow: hidden;
        position: fixed;
    }
}

.u-o-7 {
    opacity: 7;
}


.u-fade-intersected {
    opacity: 0;
    transition: $global-transition 0s,
                opacity ($global-transition-speed * 2) $global-transition-easing $global-transition-speed;
    will-change: opacity;
}
    .u-fade-intersected.u-in-viewport {
        opacity: 1;
    }

.no-js .u-fade-intersected {
    opacity: 1;
}

.u-fade-in {
    animation: fadeIn $global-transition-speed $global-transition-easing;
    animation-fill-mode: forwards;
    opacity: 0;
    transition-delay: $global-transition-speed;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.u-mt-2 {
    margin-top: 2px;
}

.u--mt {
    margin-top: ($global-spacing * -1);
}


.u-border-grey-4 {
    border: 4px solid $color-grey-light;
}
.u-border-grey-2 {
    border: 2px solid $color-grey-light;
}
.u-border-bottom-grey-2 {
    border-bottom: 2px solid $color-grey-light;
}
.u-border-grey-1 {
    border: 1px solid $color-grey-light;
}
.u-border-black-1 {
    border: 1px solid $color-black;
}
.u-border-black-2 {
    border: 2px solid $color-black;
}
@include mq ($from: mobile) {
    .u-w-auto\@mobile {
        width: auto;
    }
}


.u-depth {
    box-shadow: $global-shadow;
    will-change: transform;
    transition: $global-transition;
}

@include mq ($from: desktop) {
    .u-depth:hover,
    .u-depth:active {
        box-shadow: $global-shadow-active;
        transform: translateY(-4px);
    }
}

.u-shadow {
    box-shadow: $global-shadow;
}


.u-bg-transparent {
    background-color: transparent;
}

.u-bg-cover {
    background-size: cover;
}

.u-remove-nav-spacer {
    margin-top: (($global-page-header-height + 100) * -1);
    padding-top: $global-page-header-height;

    @include mq ($until: mobile) {
        padding-top: ($global-page-header-height * 2);
    }
}

.u-transition {
    transition: $global-transition;
}

.u-transition-06 {
    transition: all 0.6s $global-transition-easing;
}


.u-box-label {
    background-color: rgba($color-black, 0.5);
    border-radius: 3px;
    color: $color-white;
    font-family: $global-font-family-headings;
    letter-spacing: 0;
    padding: 0 $global-spacing-tiny;
}

.u-rounded {
    border-radius: 10px;
}

.u-will-change {
    will-change: opacity;
}

.u-badge {
    @include inuit-font-size(12px, false);
    @include rem(padding, $global-spacing-tiny $global-spacing-small);
    background-color: $color-black;
    color: $color-white;
    display: inline-block;
    font-family: $global-font-family-bold;
    display: inline-block;
}
.u-badge[data-theme="white"] {
    background-color: $color-white;
    color: $color-black;
}
