$color-white: #fff;
$color-black: #000;
$color-shamrock: #00b542;
$color-grape: #7f2e47;
$color-coral: #ff5649;
$color-ugly-blue: #33697c;
$color-beige: #f2cfb8;
$color-dark-peach: #d97a59;
$color-faded-pink: #f1d4dc;
$color-grey: #979797;
$color-grey-light: #dedede;
$color-grey-lightest: #f5f5f5;
$color-grey-dark: #444;
$color-pink: #e42977;
$color-gold: #e1c894;
$color-blonde: #d4c29a;
$color-brunette: #442526;
$color-carnation: #FAD5E5;


$color-primary: $color-black;
$color-secondary: $color-shamrock;
$color-tertiary: $color-grey;


$color-main-background: $color-white;
