<div class="o-wrapper" data-component="back-button">
    <div class="c-back-button-container">
        <a href="{{ back_button_url }}" class="c-icon-link c-back-button">
            {% assign classes = 'c-svg c-svg--currentcolor c-svg--w16 u-mr-' %}
            {% include 'right-arrow-icon' %}

            {{ back_button_label }}
        </a>
    </div>
</div>
