<div class="o-layout o-layout--huge o-layout--matrix o-layout--offset-tops o-layout--left-right-cols u-stack-layout@mobile">
    {%- for article in articles %}<!--
    --><div class="o-layout__item u-6/12@mobile u-4/12@tabletSmall u-fade-in">
            {% include 'article-card' %}
        </div><!--
    -->{%- endfor -%}
</div>
