<div class="u-pb u-pb+++@desktop u-flex u-direction-column u-align-items-center u-justify-center">
    <div class="u-11/12">
        <h4 class="u-heading u-leading-14 u-mb+ u-mt">Find your shade, discover
            <br/>your perfect products</h4>
        <div class="u-mb+ u-2/12 u-border-bottom-grey-2"></div>
        <p>Finding your perfect shade can be difficult, especially online. Use our interactive consultation to find your perfect products for glossy colour, full coverage and premium condition.</p>
        <p class="u-mb+">If you have highlights, balayage or bleached hair, we will need a little more detail. Use our Match My Shade service by emailing a photo and one of our Expert Colourists will be in touch within one working day.</p>

        <div class="u-9/12@desktop u-12/12">
            <button class="c-button js-consultation-open c-button--white u-border-black-2 c-b u-mt u-mr- u-5/12@desktop u-12/12" onclick="document.getElementById('consultation-modal-intro').style.display = 'none'; document.getElementById('consultation-modal').style.display = 'flex';" type="button">
                Start My Consultation
            </button>
            <p class="c-button c-button--white u-border-black-2 c-b u-mt u-4/12@desktop u-12/12 js-consultation-retrieve">
                <a class="js-consultation-retrieve" href="mailto:hello@joshwoodcolour.com">
                    Email Us now
                </a>
            </p>
        </div>
    </div>
</div>
