<strong class="u-color-grey">Not sure about your colour? &nbsp;</strong>

<a href="/pages/consultation" class="c-icon-link u-heading u-spacing-0">
    Start your hair colour consultation
    
    {%- assign classes = 'c-svg c-svg--currentcolor c-svg--w14 u-ml-' -%}
    {% include 'right-arrow-icon' %}
</a>
