<div class="u-p u-border-grey-1 u-shadow">
    <div class="u-heading u-h6 u-spacing-0 u-mb-" role="heading">{{ settings.user_account_help_title }}</div>
    <p class="u-mb">{{ settings.user_account_help_text }}</p>

    <button class="c-button c-button--black u-1/1 js-modal-open" data-modal="contact">
        {{ settings.user_account_help_text_cta_label }}
    </button>

    <a href="/pages/faqs" class="c-button c-button--black c-button--ghost u-1/1 u-mt-">
        FAQs
    </a>
</div>


<a href="/account/logout" class="c-button c-button--grey-light c-button--danger u-1/1 u-mt">Logout</a>
