<div class="o-layout u-stack-layout@mobile">
    <div class="o-layout__item u-6/12@mobile">
            <h1 class="u-h3 u-heading">{{ section.blocks[0].settings.title }}</h1>
        </div><div class="o-layout__item u-1/12@mobile">
        </div><div class="o-layout__item u-5/12@mobile">
            {{ section.blocks[0].settings.text }}

            <a href="#" class="c-icon-link u-mt js-modal-open" data-modal="contact">
                {%- assign classes = 'c-svg c-svg--currentcolor c-svg--w16 u-mr-' -%}
                {% include 'right-arrow-icon' %}

                {{ section.blocks[0].settings.contact_cta_label }}
            </a>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "FAQ Intro",
    "blocks": [
        {
            "name": "Intro content",
            "type": "object",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "text",
                    "id": "contact_cta_label",
                    "label": "Contact CTA Label",
                    "default": "Contact us"
                }
            ]
        }
    ]
}
{% endschema %}
