{%- assign product_matched = false -%}
{%- assign photo_count = 0 -%}

{% include 'product-collection-url' %}

{%- for block in section.blocks -%}
    {%- if block.settings.collection_url == product_collection_url -%}
        {%- assign product_matched = block.settings -%}
        {% break %}
    {%- endif -%}
{%- endfor -%}

{%- if product_matched -%}
    <div class="u-ph u-ph+@tabletSmall u-ph++@tablet">
        <div class="c-quote-tabs js-tabs-container" data-timeout="5000">
            <div class="c-quote-tabs__quotes js-equal-height-container" id="quote-tabs-content">
                {%- if product_matched.quote_1 != blank -%}
                    <div class="div c-quote-tabs__quote c-quote-tabs__quote--active is-active js-panel js-equal-height" id="quote-1" role="tabpanel" aria-labelledby="quote-1-tab" data-component="Featured quote">
                        {%- assign disable_lazyload = true -%}
                        {%- assign text = product_matched.quote_1 -%}
                        {%- assign quotee = product_matched.quotee_1 -%}
                        {% include 'quote' %}
                    </div>
                {%- endif -%}
                {%- if product_matched.quote_2 != blank -%}
                    <div class="div c-quote-tabs__quote js-panel js-equal-height" id="quote-2" role="tabpanel" aria-labelledby="quote-2-tab" data-component="Featured quote">
                        {%- assign disable_lazyload = true -%}
                        {%- assign text = product_matched.quote_2 -%}
                        {%- assign quotee = product_matched.quotee_2 -%}
                        {% include 'quote' %}
                    </div>
                {%- endif -%}
                {%- if product_matched.quote_3 != blank -%}
                    <div class="div c-quote-tabs__quote js-panel js-equal-height" id="quote-3" role="tabpanel" aria-labelledby="quote-3-tab" data-component="Featured quote">
                        {%- assign disable_lazyload = true -%}
                        {%- assign text = product_matched.quote_3 -%}
                        {%- assign quotee = product_matched.quotee_3 -%}
                        {% include 'quote' %}
                    </div>
                {%- endif -%}
                {%- if product_matched.quote_4 != blank -%}
                    <div class="div c-quote-tabs__quote js-panel js-equal-height" id="quote-4" role="tabpanel" aria-labelledby="quote-4-tab" data-component="Featured quote">
                        {%- assign disable_lazyload = true -%}
                        {%- assign text = product_matched.quote_4 -%}
                        {%- assign quotee = product_matched.quotee_4 -%}
                        {% include 'quote' %}
                    </div>
                {%- endif -%}
            </div>
            
            <nav class="c-quote-tabs__tabs u-mt u-mt+@mobile" id="quote-tabs" role="tablist">
                {%- if product_matched.quote_1 != blank -%}
                    <button class="c-quote-tabs__tab2 c-quote-tabs__tab2--active is-active js-tab" role="tab" id="quote-1-tab" aria-controls="quote-1" aria-selected="true" aria-label="{{ product_matched.quotee_1 }}">
                    </button>
                {%- endif -%}
                {%- if product_matched.quote_2 != blank -%}
                    <button class="c-quote-tabs__tab2 js-tab" role="tab" id="quote-2-tab" aria-controls="quote-2" aria-selected="false" aria-label="{{ product_matched.quotee_2 }}">
                    </button>
                {%- endif -%}
                {%- if product_matched.quote_3 != blank -%}
                    <button class="c-quote-tabs__tab2 js-tab" role="tab" id="quote-3-tab" aria-controls="quote-3" aria-selected="false" aria-label="{{ product_matched.quotee_3 }}">
                    </button>
                {%- endif -%}
                {%- if product_matched.quote_4 != blank -%}
                    <button class="c-quote-tabs__tab2 js-tab" role="tab" id="quote-4-tab" aria-controls="quote-4" aria-selected="false" aria-label="{{ product_matched.quotee_4 }}">
                    </button>
                {%- endif -%}
            </nav>
        </div>
    </div>
{%- endif -%}

{%- assign disable_lazyload = false -%}

{% schema %}
{
    "name": "Product Quotes",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "url",
                    "id": "product_url",
                    "label": "Product"
                },
                {
                    "type": "url",
                    "id": "collection_url",
                    "label": "Collection"
                },
                {
                    "type": "textarea",
                    "id": "quote_1",
                    "label": "Quote"
                },
                {
                    "type": "text",
                    "id": "quotee_1",
                    "label": "Quotee"
                },
                {
                    "type": "textarea",
                    "id": "quote_2",
                    "label": "Quote"
                },
                {
                    "type": "text",
                    "id": "quotee_2",
                    "label": "Quotee"
                },
                {
                    "type": "textarea",
                    "id": "quote_3",
                    "label": "Quote"
                },
                {
                    "type": "text",
                    "id": "quotee_3",
                    "label": "Quotee"
                },
                {
                    "type": "textarea",
                    "id": "quote_4",
                    "label": "Quote"
                },
                {
                    "type": "text",
                    "id": "quotee_4",
                    "label": "Quotee"
                }
            ]
        }
    ]
}
{% endschema %}
