<section class="o-section o-wrapper">
    <h1 class="u-heading u-numeral">404</h1>
    <h2 class="u-heading u-h4">Page not found</h2>

    <p class="u-mt u-mt+@mobile">
        Sorry, the page you requested does not exist.
    </p>

    <a href="/" class="c-button c-button--black u-mt">
        Go home
    </a>
</section>
