{% section 'hero-banner' %}

<section class="o-section o-wrapper">
    {% section 'salon-intro' %}
</section>

<section class="o-section o-wrapper s-show-first-quote">
    {% section 'quote' %}
</section>

<section class="o-section o-wrapper">
    {% section 'salon-photos' %}
</section>

<div class="u---mt"></div>

<section class="o-section o-wrapper">
    {% section 'salon-experts' %}
</section>

<section class="o-section o-wrapper s-show-second-quote">
    {% section 'quote' %}
</section>

<section class="o-section o-wrapper">
    {% section 'salon-space' %}
    <div id="salon-info"></div>
</section>

<section class="o-section o-wrapper">
    {% section 'salon-map' %}
</section>

<section class="o-section o-wrapper">
    {% section 'salon-hours' %}

    <div class="u-text-center u-mt+ u-mt++@mobile">
        <a href="/pages/salon-price-list" class="c-button c-button--black">View our price list</a>
    </div>
</section>

{% section 'instagram-feed' %}
