<section class="o-section o-wrapper u-pb u-pb+@mobile">
    {% section 'delivery-and-returns-intro' %}
</section>

<section class="o-section o-wrapper u-pt0 u--mt">
    {% section 'delivery-and-returns' %}
</section>
