{% section 'hero-banner' %}

<section class="o-section o-wrapper">
    {% section 'about-josh-intro' %}
</section>

<section class="o-section o-wrapper u-text-center">
    <h2 class="u-heading u-numeral u-fade-intersected js-monitor">2018</h2>
</section>

<section class="o-section o-wrapper">
    {% section 'about-josh-2018-1' %}
</section>

<section class="o-section o-wrapper u-text-center">
    <h2 class="u-heading u-numeral u-fade-intersected js-monitor">2017</h2>
</section>

<section class="o-section o-wrapper">
    {% section 'about-josh-2017-1' %}
</section>

<section class="o-section o-wrapper u-text-center">
    <h2 class="u-heading u-numeral u-fade-intersected js-monitor">2016</h2>
</section>

<section class="o-section o-wrapper">
    {% section 'about-josh-2016-1' %}

    {% comment %}
        <div class="u-card-spacing"></div>
        
        {% section 'about-josh-2016-2' %}
    {% endcomment %}
</section>

<section class="o-section o-wrapper u-text-center">
    <h2 class="u-heading u-numeral u-fade-intersected js-monitor">2013</h2>
</section>

<section class="o-section o-wrapper">
    {% section 'about-josh-2013-1' %}

    <div class="u-card-spacing"></div>

    {% section 'about-josh-2013-2' %}
</section>

<section class="o-section o-wrapper u-text-center">
    <h2 class="u-heading u-numeral u-fade-intersected js-monitor">2011</h2>
</section>

<section class="o-section o-wrapper">
    {% section 'about-josh-2011-1' %}
</section>


<section class="o-section o-wrapper u-text-center">
    <h2 class="u-heading u-numeral u-fade-intersected js-monitor">80s-90s</h2>
</section>

<section class="o-section o-wrapper">
    {% section 'about-josh-80s90s-1' %}
</section>

<section class="o-section o-wrapper">
    {% section 'quote' %}
</section>

{% section 'instagram-feed' %}
