{% section 'hero-banner' %}

<section class="o-section o-wrapper s-explore-hero-teaser">
    {% section 'explore-page-intro-teaser' %}
</section>

<section class="o-section o-wrapper">
    {% section 'permanent-collection-teaser' %}
</section>

{% section 'root-concealer-collection-teaser' %}

<section class="o-section o-wrapper">
    {% section 'care-collection-teaser' %}
</section>

{% section 'consultation-tool-teaser' %}

{% section 'instagram-feed' %}
