<section class="o-section o-wrapper">
    <h1 class="u-heading u-h3 u-text-center u-mb+ u-mb++@tablet">{{ page.title }}</h1>

    {%- if page.content != blank -%}
        <div class="u-mb">
            {{ page.content }}
        </div>
    {%- endif -%}

    <script id="CookieDeclaration" src="https://consent.cookiebot.com/7fc2b961-66c7-4440-9d78-5a120e2d30a3/cd.js" type="text/javascript" async></script>
</section>
