{% section 'hero-banner' %}

<section class="o-section o-wrapper">
    <h1 class="u-h2 u-heading u-mb">Atelier Salon Price List</h1>

    <a href="mailto:{{ settings.contact_email }}" class="c-icon-link u-weight-light u-mb-">
        {% assign classes = 'c-svg c-svg--currentcolor c-svg--w16 u-mr-' %}
        {% include 'mail-icon' %}

        {{ settings.contact_email }}
    </a>

    <a href="tel:{{ settings.contact_phone }}" class="c-icon-link u-weight-light">
        {% assign classes = 'c-svg c-svg--currentcolor c-svg--w16 u-mr-' %}
        {% include 'phone-icon' %}

        {{ settings.contact_phone }}
    </a>
</section>

<section class="o-section o-wrapper u-pt0 c-price-list c-price-list--headers">
    <h3 class="u-heading u-mb u-mb+">Colour</h3>

    <div class="o-layout o-layout--huge">
        <div class="o-layout__item u-6/12@mobile u-mb u-mb+@mobile">
            <h4 class="u-mb-">Gloss</h4>

            <table>
                <tbody>
                    <tr>
                        <td>Varderer</td>
                        <td>Advocate</td>
                        <td>Principal</td>
                    </tr>
                    <tr>
                        <td>£55</td>
                        <td>£65</td>
                        <td>£75</td>
                    </tr>
                    <tr>
                        <td>Master</td>
                        <td>Creative Master</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>£85</td>
                        <td>£95</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div><div class="o-layout__item u-6/12@mobile u-mb u-mb+@mobile">
            <h4 class="u-mb-">Tint</h4>

            <table>
                <tbody>
                    <tr>
                        <td>Varderer</td>
                        <td>Advocate</td>
                        <td>Principal</td>
                    </tr>
                    <tr>
                        <td>£80</td>
                        <td>£110</td>
                        <td>£140</td>
                    </tr>
                    <tr>
                        <td>Master</td>
                        <td>Creative Master</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>£175</td>
                        <td>£195</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div><div class="o-layout__item u-6/12@mobile u-mb u-mb+@mobile">
            <h4 class="u-mb-">Partial highlights</h4>

            <table>
                <tbody>
                    <tr>
                        <td>Varderer</td>
                        <td>Advocate</td>
                        <td>Principal</td>
                    </tr>
                    <tr>
                        <td>£100</td>
                        <td>£145</td>
                        <td>£175</td>
                    </tr>
                    <tr>
                        <td>Master</td>
                        <td>Creative Master</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>£230</td>
                        <td>£280</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div><div class="o-layout__item u-6/12@mobile u-mb u-mb+@mobile">
            <h4 class="u-mb-">Half head highlights</h4>

            <table>
                <tbody>
                    <tr>
                        <td>Varderer</td>
                        <td>Advocate</td>
                        <td>Principal</td>
                    </tr>
                    <tr>
                        <td>£165</td>
                        <td>£210</td>
                        <td>£250</td>
                    </tr>
                    <tr>
                        <td>Master</td>
                        <td>Creative Master</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>£305</td>
                        <td>£345</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div><div class="o-layout__item u-6/12@mobile u-mb u-mb+@mobile">
            <h4 class="u-mb-">Full head highlights</h4>

            <table>
                <tbody>
                    <tr>
                        <td>Varderer</td>
                        <td>Advocate</td>
                        <td>Principal</td>
                    </tr>
                    <tr>
                        <td>£220</td>
                        <td>£275</td>
                        <td>£335</td>
                    </tr>
                    <tr>
                        <td>Master</td>
                        <td>Creative Master</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>£390</td>
                        <td>£455</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div><div class="o-layout__item u-6/12@mobile u-mb u-mb+@mobile">
            <h4 class="u-mb-">Balayage</h4>

            <table>
                <tbody>
                    <tr>
                        <td>Varderer</td>
                        <td>Advocate</td>
                        <td>Principal</td>
                    </tr>
                    <tr>
                        <td>£260</td>
                        <td>£315</td>
                        <td>£375</td>
                    </tr>
                    <tr>
                        <td>Master</td>
                        <td>Creative Master</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>£425</td>
                        <td>£490</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div><div class="o-layout__item u-6/12@mobile u-mb u-mb+@mobile">
            <h4 class="u-mb-">Toner with any colour service</h4>

            <table>
                <tbody>
                    <tr>
                        <td>Varderer</td>
                        <td>Advocate</td>
                        <td>Principal</td>
                    </tr>
                    <tr>
                        <td>£35</td>
                        <td>£35</td>
                        <td>£35</td>
                    </tr>
                    <tr>
                        <td>Master</td>
                        <td>Creative Master</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>£35</td>
                        <td>£35</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="o-section o-wrapper u-pt0 c-price-list c-price-list--headers">
    <h3 class="u-heading u-mb u-mb+">Styling</h3>

    <div class="o-layout o-layout--huge">
        <div class="o-layout__item u-6/12@mobile u-mb u-mb+@mobile">
            <h4 class="u-mb-">Blow dry</h4>

            <table>
                <tbody>
                    <tr>
                        <td>Varderer</td>
                        <td>Advocate</td>
                        <td>Principal</td>
                    </tr>
                    <tr>
                        <td>£35</td>
                        <td>£55</td>
                        <td>£80</td>
                    </tr>
                    <tr>
                        <td>Master</td>
                        <td>Creative Master</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>£115</td>
                        <td>£160</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div><div class="o-layout__item u-6/12@mobile u-mb u-mb+@mobile">
            <h4 class="u-mb-">Cut and blow dry</h4>

            <table>
                <tbody>
                    <tr>
                        <td>Varderer</td>
                        <td>Advocate</td>
                        <td>Principal</td>
                    </tr>
                    <tr>
                        <td>£90</td>
                        <td>£125</td>
                        <td>£185</td>
                    </tr>
                    <tr>
                        <td>Master</td>
                        <td>Creative Master</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>£235</td>
                        <td>£295</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div><div class="o-layout__item u-6/12@mobile u-mb u-mb+@mobile">
            <h4 class="u-mb-">Gents</h4>

            <table>
                <tbody>
                    <tr>
                        <td>Varderer</td>
                        <td>Advocate</td>
                        <td>Principal</td>
                    </tr>
                    <tr>
                        <td>£55</td>
                        <td>£80</td>
                        <td>£125</td>
                    </tr>
                    <tr>
                        <td>Master</td>
                        <td>Creative Master</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>£155</td>
                        <td>£180</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div><div class="o-layout__item u-6/12@mobile u-mb u-mb+@mobile">
            <h4 class="u-mb-">Children</h4>
            
            <table>
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>From £40</td>
                    </tr>
                </tbody>
            </table>
        </div>  
    </div>
</section>

<section class="o-section o-wrapper u-pt0 c-price-list c-price-list--treatments">
    <h3 class="u-heading u-mb u-mb+">Treatments</h3>

    <table class="u-6/12@mobile">
        <tbody>
            <tr>
                <td>Conditioning treatment</td>
                <td>£25-55</td>
            </tr>
            <tr>
                <td>Redken pH-Bonder</td>
                <td>£35-55</td>
            </tr>
            <tr>
                <td>Keratin treatment</td>
                <td>£280-405</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="o-section o-wrapper u-pt0 c-price-list c-price-list--treatments">
    <h3 class="u-heading u-mb u-mb+">Extensions</h3>

    <table class="u-6/12@mobile">
        <tbody>
            <tr>
                <td>On consultation</td>
                <td>From £400</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="o-section o-wrapper u-pt0 c-price-list c-price-list--treatments">
    <h3 class="u-heading u-mb u-mb+">Beauty</h3>

    <table class="u-6/12@mobile">
        <tbody>
            <tr>
                <td>Manicure</td>
                <td>From £40</td>
            </tr>
            <tr>
                <td>Pedicure</td>
                <td>From £60</td>
            </tr>
            <tr>
                <td>Brows</td>
                <td>From £25</td>
            </tr>
        </tbody>
    </table>
</section>

{% section 'instagram-feed' %}
