<section class="o-section o-wrapper u-pt0 u-pt+@mobile">
    <div class="u-mw-450 u-m-auto">
        <div class="u-mb+">
            {% assign classes = 'c-svg-jw-logo' %}
            {% include 'logo' %}
        </div>

        <h1 class="u-heading u-mb">We'll be back soon.</h1>

        {% if shop.password_message != blank %}
            <p>{{ shop.password_message }}</p>
        {% endif %}

        <div class="u-mt">
            {%- for link in linklists.social-menu.links -%}
                <a href="{{ link.url }}" class="u-weight-light u-mr" target="noopener">
                    {% assign icon_name = link.title | append: '-icon' %}
                    {% assign classes = 'c-svg c-svg--currentcolor' %}
                    {% include icon_name %}
                </a>
            {%- endfor -%}
        </div>

        <div class="u-mt">
            <a href="#" class="js-modal-open u-color-grey" data-modal="password-login">Staff login</a>
        </div>

        <div class="c-modal c-modal--auto-grow js-modal u-hide" data-modal="password-login">
            {%- assign modal_name = 'password-login' -%}
            {% include 'modal-close-button' %}

            <div class="c-modal__wrapper u-shadow u-p t-white js-modal-wrapper u-mw-450" style="height: auto;">
                {% form 'storefront_password' %}
                    {% if form.errors != blank %}
                        <em class="u-mt">Oh no, that password doesn't work. Please try again.</em>
                    {% endif %}
                    
                    <div class="c-form__field">
                        <input type="password" class="c-form__input u-1/1" name="password" id="Password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" class="u-flex">
                    </div>
                    <div class="c-form__field">
                        <button type="submit" class="c-button c-button--black u-1/1" name="commit">{{ 'general.password_page.login_form_submit' | t }}</button>
                    </div>
                {% endform %}
            </div>
        </div>
    </div>
</section>

<script> 
setTimeout(function () {
    if (window.ga) {
        var date = new Date();
        var label = date.getUTCDate() + ' ' + (date.getMonth() + 1) + ' ' + date.getFullYear();

        window.ga('send', 'event', {
            eventCategory: 'Password page',
            eventAction: 'Viewed',
            eventLabel: label
        });
    }
}, 1000);
</script>
